{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 160,
  "requireConfig": true,
  "typescript.check.npmIsInstalled": false,
  "typescript.validate.enable": false,
  "endOfLine": "auto"
}
