@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.bg-gradient-main {
  @apply bg-gradient-to-r from-blueLight to-blueDarkest;
}

.bg-gradient-accent {
  @apply bg-gradient-to-r from-redLight to-redDark;
}

.bg-highlight {
  @apply bg-blueLight hover:bg-blueDarker;
}

.bg-highlight-accent {
  @apply bg-redLight hover:bg-redDark;
}

.border-highlight {
  @apply border-blueLight hover:border-blueDarker;
}

.border-accent {
  @apply border-redLight hover:border-redDark;
}

.ellipsis {
@apply whitespace-nowrap overflow-ellipsis overflow-hidden;
}
